<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.8/uuid.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf-8">

    const socket = io();

    const suits_map = {
        'HEARTS': '&hearts;',
        'DIAMONDS': '&diams;',
        'CLUBS': '&clubs;',
        'SPADES': '&spades;'
    }

    socket.on('connect', function() {
        console.log('Incoming connection.')

        username = validateUsername();

        const userData = {
            id: uuid.v4(),
            username: username,
        }

        socket.emit('backend handshake', userData);
    });

    socket.on('frontend handshake', function(userData) {
        socket.emit('register user', userData)
    })

    socket.on('queue-add', function(data) {
        let remaining_connections = (3 - data.num_connections)

        updateDiv('activePlayers', data.active_connections)
        updateDiv('remaining-connections', remaining_connections)
    })

    socket.on('wait-notif', function() {
        document.getElementById('wait-notif').style.display = 'block'
    })

    socket.on('deal', function(player) {
        updateDiv('yourStake', player.attributes.stake)
        updateDiv('yourChips', player.attributes.chips)

        let pocket_1 = player.attributes.hand[0]
        let pocket_2 = player.attributes.hand[1]
        updateCard(pocket_1, 1, 'pocket', 'pocket-1')    
        updateCard(pocket_2, 2, 'pocket', 'pocket-2') 
        document.getElementById('user-chips').style.display = 'block'   
    })

    socket.on('flop', function(flop_data) {

        console.log(flop_data)

        let active_players = []
        
        updateCommunityCards(flop_data.cards, flop_data.flop_count)

        updateDiv('pot', flop_data.pot)
        updateDiv('table-stake', flop_data.current_stake)
        updateDiv('activePlayers', flop_data.active_players)
        document.getElementById('wait-time').style.display = 'none';
        document.getElementById('wait-banner').style.display = 'none';
        document.getElementById('whos-turn-p').style.display = 'block';
        document.getElementById('table-chips').style.display = 'block';

    })

    socket.on('winner', function(winner_data) {
        document.getElementById('whos-turn-p').style.display = 'none';
        document.getElementById('display-one').style.display = 'none';
        document.getElementById('display-two').style.display = 'none';
        updateDiv('winner', winner_data.winner.name)
        document.getElementById('winning-banner').style.display = 'block';
    })

    socket.on('tie-winners', function(winner_data) {
        document.getElementById('whos-turn-p').style.display = 'none';
        document.getElementById('display-one').style.display = 'none';
        document.getElementById('display-two').style.display = 'none';
        updateDiv('winner-1', winner_data.winner1.name)
        updateDiv('winner-2', winner_data.winner2.name)
        updateDiv('half-pot', winner_data.winnings)
        document.getElementById('tie-winning-banner').style.display = 'block';
    })

    socket.on('restart-game', function() {
        socket.emit('restart-game')
    })

    socket.on('game-cleanup', function() {
        document.getElementById('wait-time').style.display = 'block';
        document.getElementById('wait-notif').style.display = 'none';
        document.getElementById('winning-banner').style.display = 'none';
        document.getElementById('tie-winning-banner').style.display = 'none';
        document.getElementById('table-chips').style.display = 'none';
        document.getElementById('user-chips').style.display = 'none';

        const cleanupCards = [
            'pocket-1',
            'pocket-2',
            'community-1',
            'community-2',
            'community-3',
            'community-4',
            'community-5'
        ]

        for (let card of cleanupCards) {
            div = document.getElementById(card)
            div.style.display = 'none';
            div.classList.remove('red')
        }
    })

    socket.on('turn-order', function(turn_data) {

        updateDiv('whos-turn', turn_data.whos_turn.name)

    })

    socket.on('cleanup', function(turn_data) {

        updateDiv('whos-turn', ' ')

    })

    socket.on('toggle-display', function(display_data) {
        let display_type = display_data.display_type

        if (display_type == 'one') {
            document.getElementById('display-one').style.display = 'block';
        } else if (display_type == 'two') {
            document.getElementById('display-two').style.display = 'block';
        } else if (display_type == 'three') {
            document.getElementById('display-one').style.display = 'none';
            document.getElementById('display-two').style.display = 'none';
            updateDiv('yourStake', display_data.attributes.stake)
            updateDiv('yourChips', display_data.attributes.chips)
        }

    })

    socket.on('message', function(message) {
        console.log('Received message: ', message)
    })

    socket.on('disconnect', function() {
        socket.emit('disconnect');
    });

    function validateUsername() {

        let username = prompt('What is your username?')

        if ((username == null) || (username.length < 1)) {
            alert('Invalid username. Disconnecting.')
            socket.disconnect();
        }

        return username
    }

    function updateCommunityCards(community_cards, flop_num) {

        if (flop_num == 1) {
            updateCard(community_cards[0], 1, 'community', 'community-1')
            updateCard(community_cards[1], 2, 'community', 'community-2')
            updateCard(community_cards[2], 3, 'community', 'community-3') 
        } else if (flop_num == 2) {
            updateCard(community_cards[3], 4, 'community', 'community-4') 

        } else if (flop_num == 3) {
            updateCard(community_cards[4], 5, 'community', 'community-5') 
        }

    }

    function updateCard(card, card_num, card_type, divID) {
        const rank = card[0]
        const suit = suits_map[card[1]]

        if ((suit == '&diams;') || (suit == '&hearts;')) {
            card = document.getElementById(divID);
            card.classList.add('red');
        }

        updateDiv(`${card_type}-${card_num.toString()}-rank-1`, rank)
        updateDiv(`${card_type}-${card_num.toString()}-suit-1`, suit)
        updateDiv(`${card_type}-${card_num.toString()}-suit-2`, suit)
        updateDiv(`${card_type}-${card_num.toString()}-suit-3`, suit)
        updateDiv(`${card_type}-${card_num.toString()}-rank-2`, rank)

        document.getElementById(divID).style.display = 'inline-block';
    }

    function updateDiv(idName, dataSource) {
        div = document.getElementById(idName)
        div.innerHTML = dataSource.toString()
    }

    function check() {
        socket.emit('check', {
            message: 'I check'
        })
    }

    function raise() {
        raise_amount = prompt('How much would you like to raise?')
        socket.emit('raise', {
            raise_amount: raise_amount
        })
    }

    function fold() {
        socket.emit('fold', {
            message: 'I fold'
        })
    }

    function call() {
        socket.emit('call', {
            message: 'I call'
        })
    }

</script>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Document</title>
    </head>
    <body>
            <h1>PyHoldEm</h1>

            <p>Active Players: <span id="activePlayers"></span></p>
            <hr>
            <h2 id="wait-banner">Waiting for <span id="remaining-connections" class="red">3</span> more players.</h2>
            <h4 id="wait-notif">Please wait until the current game ends.</h4>
            <h5 id="wait-time">New game in 3 seconds.</h5>
            <h4 id="whos-turn-p">It's <span id='whos-turn' class="red"></span>'s turn.</h4>
            <h2 id="winning-banner" style="display: none;"><span id="winner" class="red"></span> won the pot!</h2>
            <h2 id="tie-winning-banner" style="display: none;">Tie! <span class="red" id="winner-1"></span> and <span class="red" id="winner-2"></span> will split the pot at <span id="half-pot"></span> chips each.</h2>

            <div class="active-players"></div>


            <div class="community-cards">
                <div id="community-1" class="outline shadow rounded">
                    <div class="top">
                        <span id="community-1-rank-1">A</span>
                        <span id="community-1-suit-1">&hearts;</span>
                    </div>
                
                    <h1 id="community-1-suit-2">&hearts;</h1>
                
                    <div class="bottom">
                        <span id="community-1-suit-3">&hearts;</span>
                        <span id="community-1-rank-2">A</span>
                    </div>
                </div>
                <div id="community-2" class="outline shadow rounded">
                    <div class="top">
                        <span id="community-2-rank-1">A</span>
                        <span id="community-2-suit-1">&hearts;</span>
                    </div>
                
                    <h1 id="community-2-suit-2">&hearts;</h1>
                
                    <div class="bottom">
                        <span id="community-2-suit-3">&hearts;</span>
                        <span id="community-2-rank-2">A</span>
                    </div>
                </div>
                <div id="community-3" class="outline shadow rounded">
                    <div class="top">
                        <span id="community-3-rank-1">A</span>
                        <span id="community-3-suit-1">&hearts;</span>
                    </div>
                
                    <h1 id="community-3-suit-2">&hearts;</h1>
                
                    <div class="bottom">
                        <span id="community-3-suit-3">&hearts;</span>
                        <span id="community-3-rank-2">A</span>
                    </div>
                </div>
                <div id="community-4" class="outline shadow rounded">
                    <div class="top">
                        <span id="community-4-rank-1">A</span>
                        <span id="community-4-suit-1">&hearts;</span>
                    </div>
                
                    <h1 id="community-4-suit-2">&hearts;</h1>
                
                    <div class="bottom">
                        <span id="community-4-suit-3">&hearts;</span>
                        <span id="community-4-rank-2">A</span>
                    </div>
                </div>
                <div id="community-5" class="outline shadow rounded">
                    <div class="top">
                        <span id="community-5-rank-1">A</span>
                        <span id="community-5-suit-1">&hearts;</span>
                    </div>
                
                    <h1 id="community-5-suit-2">&hearts;</h1>
                
                    <div class="bottom">
                        <span id="community-5-suit-3">&hearts;</span>
                        <span id="community-5-rank-2">A</span>
                    </div>
                </div>
                <br>
                <div id="table-chips">
                    <img height="20px" width="20px" src="../static/poker-token.png" alt=""> 
                    <span id="pot">null</span> | 
                    <img height="20px" width="20px" src="../static/poker-piece.png" alt=""> 
                    <span id="table-stake">null</span></p>
                </div>
            </div>

            <div class="pocket-cards">
                <div id="pocket-1" class="outline shadow rounded">
                    <div class="top">
                        <span id="pocket-1-rank-1">A</span>
                        <span id="pocket-1-suit-1">&hearts;</span>
                    </div>
                
                    <h1 id="pocket-1-suit-2">&hearts;</h1>
                
                    <div class="bottom">
                        <span id="pocket-1-suit-3">&hearts;</span>
                        <span id="pocket-1-rank-2">A</span>
                    </div>
                </div>
                <div id="pocket-2" class="outline shadow rounded">
                    <div class="top">
                        <span id="pocket-2-rank-1">A</span>
                        <span id="pocket-2-suit-1">&hearts;</span>
                    </div>
                
                    <h1 id="pocket-2-suit-2">&hearts;</h1>
                
                    <div class="bottom">
                        <span id="pocket-2-suit-3">&hearts;</span>
                        <span id="pocket-2-rank-2">A</span>
                    </div>
                </div>
                <br>
                <div id="user-chips">
                    <img height="20px" width="20px" src="../static/poker-token.png" alt=""> 
                        <span id="yourChips">null</span> | 
                    <img height="20px" width="20px" src="../static/poker-piece.png" alt=""> 
                        <span id="yourStake">null</span></p>
                </div>
            </div>
            
            




            <div class="display">

                <div id="display-one" style="display: none;">
                    <button type="button" class="btn btn-secondary btn-lg" onclick="check()">Check</button>
                    <button type="button" class="btn btn-secondary btn-lg" onclick="raise()">Raise</button>
                    <button type="button" class="btn btn-secondary btn-lg" onclick="fold()">Fold</button>
                </div>
        
                <div id="display-two" style="display: none;">
                    <button type="button" class="btn btn-secondary btn-lg" onclick="call()">Call</button>
                    <button type="button" class="btn btn-secondary btn-lg" onclick="raise()">Raise</button>
                    <button type="button" class="btn btn-secondary btn-lg" onclick="fold()">Fold</button>
                </div>

            </div>
            
    </body>
</html>

<style>

    body {
        margin: 1rem;
        background-color: #eee;
        font-family: sans-serif;
    }

    #wait-banner {
        text-align: center;
        margin-top: 20rem;
    }

    #wait-time {
        text-align: center;
        margin-top: 20rem;
        display: none;
    }

    #wait-notif, #wait-time {
        text-align: center;
        display: none;
    }

    #user-chips, #table-chips {
        margin-top: 2rem;
        display: none;
    }

    .display {
        margin-top: 5rem;
        text-align: center;
    }

    .active-players {
        margin-top: 15vh;
    }

    .community-cards {
        text-align: center;
    }

    #whos-turn-p, #winning-banner, #tie-winning-banner {
        display: none;
        text-align: center;
    }

    #community-1,
    #community-2,
    #community-3,
    #community-4,
    #community-5 {
        display: none;
    }

    .pocket-cards {
        margin-top: 10vh;
        text-align: center;
    }

    #pocket-1, #pocket-2 {
        display: none;
    }

    .table {
        margin: 1.5vw;
        padding: 2em;
        width: 96.5vw;
        height: 80vh;
        display: inline-block;
        background-color: #142752;
        box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
        border-radius: 0.25em;
        text-align: center;
    }

    .red {
        color: rgb(206, 18, 18);
    }

    .outline { 
        width: 110px; 
        border: 0px solid black; 
        text-align: center; 
        padding: 10px; 
        margin: 10px; 
        background: #FFF ;
        display: inline-block;
    }

    .top { 
        text-align: left; 
    }

    .bottom { 
        text-align: right; 
    }
    
    .shadow { 
        box-shadow: 1px 1px 3px #000; 
        -moz-box-shadow: 1px 1px 3px #000; 
        -webkit-box-shadow: 1px 1px 3px #000; 
    }

    .rounded { 
        border-radius:10px; 
        -moz-border-radius:10px; 
        -webkit-border-radius:10px; 
    }

</style>